body {
  background-image: url('smurfVillage.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  width: 100vw;
}

.App {
  text-align: center;
}

.header {
  background: #65BDEB;
  border-radius: 5%;
  font-family: 'Chicle', cursive;
  font-size: 2.3rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50rem;
}

.smurf {
  background: #65BDEB;
  width: 200px;
  border-radius: 5%;
  font-family: 'Chicle', cursive;
  font-size: 2.3rem;
  margin: 1rem;
}

.details {
  color: #EB1C24;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 1rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.smurfsListDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.error {
  color: #EB1C24;
  font-family: 'Chicle', cursive;
  font-size: 2rem;
  background: #65BDEB;
  border-radius: 10px;
  margin: 2rem 5rem 2rem 5rem;
}

.input {
  margin-left: .5rem;
  margin-right: .5rem;
  background-color: #65BDEB;
  color: #EB1C24;
  font-family: 'Chicle', cursive;
  font-size: 2.3rem;
}
